.filter-container {
    direction: rtl;
    font-family: Arial;
    padding: 20px;
    width: 100%;
    max-width: 400px;
  }
  
  .filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .clear-button {
    padding: 6px 12px;
    color: rgb(5, 5, 5);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .filter-section {
    margin-bottom: 20px;
  }
  
  .toggle-title {
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .filter-options {
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  
  .divider {
    margin: 20px 0;
    border: 0;
    height: 1px;
    background-color: #ccc;
  }
  
  .record-item {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  