@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #00D6AD;
    --color-primary-dark: #00B894;
    --color-text: #1F2937;
    --color-secondary-text: #64748B;
    --color-border: #E5E7EB;
    --color-background: #F7FAFC;
    --color-surface: #E6FCF6;

  }

   
  body {
    @apply bg-[--color-background] text-[--color-text];
    font-family: 'Inter', sans-serif;
    direction: rtl;
  }
}